
# filetypes
*.pyc
*.gz*
*.tgz*
*.zip*
*.tar.bz2
*.tar.xz

# generic folders
build/
/_debug/
.idea/


# unzipped source dirs
*/0.8.*/USD-0.8.*/
/AL_USDMaya/*/AL_USDMaya*/
/alembic/*/alembic-*/
/bison/*/bison-*/
/boost/*/boost_*/
/flex/*/flex-*/
/glew/*/glew*/
/pugixml/*/pugixml-*/
/Imath/*/Imath-*/
/llvm/*/llvm-project/
/openshadinglanguage/*/OpenShadingLanguage-*/
/openvdb/*/openvdb-*/
/oiio/*/OpenImageIO-*/
cppzmq-*/
FFmpeg-n*/
googletest-release-*/
ilmbase-*/
jemalloc-*/
KatanaUsdPlugins-*/
MaterialX-*/
nuke-ML-server-*/
oiio-Release-*/
openexr-*/
openssl/*/openssl-*/
OpenSubdiv-*/
pstl2019_20191006oss/
ptex-*/
pybind11-*/
pyilmbase-*/
PySide-*/
tbb/*/oneapi-tbb-*/
tbb20*/
Tools-*/
USD-*/
USDForUnity-USD-*
/yaml_cpp/*/yaml-cpp-*/


# USD has some additional files to ignore
# this list is based on the clean.sh
# Todo: maybe we should change the setup-script to unpack into a subfolder
/usd/*/OpenUSD-*/
/usd/*/build/
/usd/*/docs/
/usd/*/build_scripts/
/usd/*/cmake/
/usd/*/extras/
/usd/*/pxr/
/usd/*/third_party/
/usd/*/*.txt
/usd/*/*.yml
/usd/*/*.md
/usd/*/*.out
/usd/*/*.pdf
