
# filetypes
*.pyc
*.gz*
*.tgz*
*.zip*
*.tar.bz2
*.tar.xz

# generic folders
build/
.idea/


# Extracted source dirs
*/0.8.*/USD-0.8.*/
/AL_USDMaya/*/AL_USDMaya*/
/alembic/*/alembic-*/
/boost/*/boost_*/
/glew/*/glew*/
/Imath/*/Imath-*/
/llvm/*/llvm-project/
/openshadinglanguage/*/OpenShadingLanguage-*/
cppzmq-*/
FFmpeg-n*/
googletest-release-*/
ilmbase-*/
jemalloc-*/
KatanaUsdPlugins-*/
MaterialX-*/
nuke-ML-server-*/
oiio-Release-*/
openexr-*/
OpenSubdiv-*/
pstl2019_20191006oss/
ptex-*/
pybind11-*/
pyilmbase-*/
PySide-*/
tbb20*/
Tools-*/
USD-*/
USDForUnity-USD-*
